.cache
.tmp/
builds/
dist/
node_modules/

Desktop.init

_ignore/

logs/
*.logsnpm-debug.log*
.npm

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


*.ai
*.eps
*.psd

.DS_Store
Thumbs.db
ehthumbs.db

*.lnk